{
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 4,
	"semi": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 140,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.js",
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "*.ts",
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}
